:root {

    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --accent1-color: #94d2bd;
    --accent2-color: #ee9b00;

    --heading-font: Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;

}

/* Reset */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: var(--body-font);
    color: var(--primary-color);

}

header,
main,
footer {

    width: 840px;
    margin: 0 auto;

}

header {

    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 20px;

}

header img {

    width: 120px;

}

nav {

    display: flex;
    justify-content: space-around;

}

nav a {

    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;

}

h1,
h2 {

    font-family: var(--heading-font);
    color: var(--primary-color);

}

nav,
p,
section,
article {

    margin: 16px;
    padding: 8px;

}

.socialmedia a {

    text-decoration: none;

}

/* Hero section */

.hero {

    position: relative;

}

.hero img {

    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {

    position: absolute;

    top: 20px;

    width: 100%;

    padding: 16px;

    text-align: center;

    opacity: 0.8;

    background-color: var(--accent1-color);

    color: white;

}

.hero article {

    position: absolute;

    top: 200px;

    left: 50px;

    background-color: white;

    opacity: 0.9;

}

.hero article img {

    float: right;

    width: 125px;

    margin-left: 15px;

}

section {

    text-align: center;

}

footer {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;

}

.socialmedia img {

    width: 40px;

}